.item {
    padding: 5px;
}

.item img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

.item .username, .item .close {
    display: inline-block;
    position: relative;
}

.item .username {
    bottom: 15px;
    left: 5px;
}

.item .close {
    left: 10px;
    vertical-align: top;
}